@{
    Layout = "~/Views/Shared/_WebshopLayout.cshtml";
    ViewData["Title"] = "Mug";
}

<div class="text-center container row">

    <div class="card col-3" style="width: 18rem;">
        <img src="~/images/Mugs/Cup_Bee.png" class="card-img-top" alt="mug">
        <div class="card-body">
            <h2>Bee Mug</h2>
            <p class="card-text">15 € </p>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="~/images/Mugs/Cup_Coffee.png" class="card-img-top" alt="mug">
        <div class="card-body">
            <h2>Coffee Mug</h2>
            <p class="card-text">10 € </p>
        </div>
    </div>

    </div>

