@{
    Layout = "~/Views/Shared/_WebshopLayout.cshtml";
    ViewData["Title"] = "Sweater";
}

<div class="text-center container row">

    <div class="card col-3" style="width: 18rem;">
        <img src="~/images/Sweaters/Sweater_Black_Front.png" class="card-img-top" alt="sweater">
        <div class="card-body">
            <h2>Black Sweater</h2>
            <p class="card-text">25 € </p>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="~/images//Sweaters/Sweater_Lemon_Front.png" class="card-img-top" alt="sweater">
        <div class="card-body">
            <h2>Lemon Sweater</h2>
            <p class="card-text">25 € </p>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="~/images/Sweaters/Sweater_Purple_Front.png" class="card-img-top" alt="sweater">
        <div class="card-body">
            <h2>Purple Sweater</h2>
            <p class="card-text">25 €</p>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="~/images/Sweaters/Sweater_RoyalBlue_Front.png" class="card-img-top" alt="sweater">
        <div class="card-body">
            <h2>Royal Blue Sweater</h2>
            <p class="card-text">25 € </p>
        </div>
    </div>
    <div class="card col-3" style="width: 18rem;">
        <img src="~/images/Sweaters/Sweater_Slate(red)_Front.png" class="card-img-top" alt="sweater">
        <div class="card-body">
            <h2>Slate Red Sweater</h2>
            <p class="card-text">25 € </p>
        </div>
    </div>
  

</div>