@{
    Layout = "~/Views/Shared/_WebshopLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">

    <h1>Welcome</h1>


    <img class="img-fluid" src="~/images/IndexLogo.png" alt="logo with background lights" />
   



    <p class="text-center">
        Hi everyone and welcome to my brand new webshop.
    </p> <p class="text-center">
    Here you will find the latest merch
    so you can wear it in your school at home or at a wedding.
</p>
       
    
</div>