<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_Webshop</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img class="logo" src="~/images/logo_png.png" alt="Logo" />
            </a>
            <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
                <ul class="navbar-nav mx-auto text-md-center text-left">
                    <li class="nav-item">
                        <a class="nav-link navbar-brand mx-0 d-none d-md-inline" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-brand mx-0 d-none d-md-inline" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-brand mx-0 d-none d-md-inline" asp-area="" asp-controller="Discount" asp-action="Index">Discount</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-brand mx-0 d-none d-md-inline" asp-area="" asp-controller="Faq" asp-action="Index">FAQ</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-brand mx-0 d-none d-md-inline" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>

                    </li>
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                    <li style="padding-left: 10px" class="nav-item"> <a href="#"> <i class="fas fa-shopping-cart"></i>  </a>  </li>

                    <li style="padding-left: 10px" class="nav-item"> <a href="#"> <i class="fas fa-user"></i>  </a>  </li>
                </ul>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer -->
    <footer class="border-top footer text-muted color-footer">
        <div class="container">
            <span>Follow me on</span> <a href="https://twitter.com/LordDries" target="_blank"><i class="fab fa-twitter"></i></a>
            <span>Made with </span>
            <span><i class="fas fa-heart"></i></span>

            <span class="footer-right"> Dries Mangelschots</span>

            <span class="footer-right">Made by </span>


        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
